.delivery {
    background-image: url(../images/delivery/bgr-delivery.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__col {
        width: 100%;
        height: 100%;

        &:first-child {
            margin-right: 10px;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__icon {
        display: inline-block;
        line-height: 0;
        margin-right: 30px;
        transition: .3s;
        overflow: hidden;

        &:hover {
            transform: scale(1.1);
        }


        &-img {
            width: 120px;
            height: 120px;
        }
    }

    &__desc {
        font-weight: 700;
        font-size: 18px;
        max-width: 335px;
    }

    &__picture {
        line-height: 0;
        position: relative;
        padding-bottom: 76%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}