.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

    &__logo {
        line-height: 0;

        &-img {
            max-width: 133px;
            max-height: 66px;
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        padding: 0 30px;
    }

    &__link {
        font-weight: 500;
        color: #fff;
        transition: .3s;

        &:hover {
            color: #B82121;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        line-height: 0;
        transition: 0.3s;

        &-link {
            &:hover {
                transform: scale(1.1);
            }   
        }
    }

    &__social-img {
        width: 20px;
        height: 20px;

        &.header__social {
            margin-right: 6px;
        }
    }

    &__row {
        display: flex;
    }

    &__phone-num {
        color: #fff;
        font-weight: normal;
        white-space: nowrap;
        font-size: 21px;
    }

    &__box:not(:last-child) {
        margin-right: 15px;
    }

    &__btn-menu {
        display: none;
    }
}